.bannerContent {
    border-radius: 20px;
    max-width: 90vw;
    border-radius: 40px;
}

.banner {
    height: 300px;
    width: 600px;
    margin: 10px 0 10px 70px; 
    border: 2px solid black;
    border-radius: 50px;

}

.banner .bannerContent {

}
