.cardFilmes {
    display: grid;
    max-width: 70vw;
    grid-template-columns: auto auto auto auto auto;
}
.card  {
    margin: 10px;
}

.nome {
    word-break: break-all;
    color: black;
    font-size: 10px;
    font-weight: bold;
}

.meta{ 
    word-break: keep-all;
    font-size: 8px;
}

  .cardFilmes .carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .cardFilmes .carousel::-webkit-scrollbar {
    display: none;
    height: 20px;
  }
  
  .cardFilmes .carousel .card {
    border-radius: 16px;
    flex: none;
  }
  .container .buttons {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
  }
  .container .buttons button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .buttons {
    margin-top: 9vw;

  }

  button {
    border: none;
    background-color: rgba(255, 255, 255, 0);
  }


  .filme {
    height: 150px;
    width: 100px;
  }